.blogs-page{
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
}

.blog-heading{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.blog-card{
    height: 20rem;
    width: 20rem;
    border-radius: 0.5rem;
    background-color: var(--temp_background);
}

.blog-card img {
    object-fit: cover;
    height: 15rem;
    width: 20rem;
    border-radius: 0.5rem
}

.blog-text{
    text-align: center;
    font-size: 1.25rem;
}